<div class="top-margin-1line">
  <div id="join_button" class="form-button">
    <a name="join_disjoin_button"></a>
  </div>
</div>
<h3 class="top-margin-1line"><%=t.content_joined_users.joined%></h3>
<div id="joined_users">
</div>